

body{
    background-image: url("docB.png");
    width: 100%;
    height: 800px;
    /* margin-bottom: -200px; */ 
    margin-bottom: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

@media (max-width: 375px) {
   
    h1{
        font-size: 2em;
    }
    .site-main{
        height: 200px;
        margin-bottom: 20px;

    }
    #msg{
        font-size: 0.6em;
    }
    
}