nav {
    
    background-color:#9FCAF4;
    height: 90px;
}

a {
    color:#dd2c00;
}
a:hover {
    
    color: #1567b9;
}

.logo-image{
    width: 100px;
    height: auto;
    margin: 10px;
    margin-bottom: 25px;
}
.searchBtn{
    margin-right: 10px;
}

@media (max-width: 375px) {
   
    span{
      font-size:1em;
    }
    .logo-image{
       width: 50px;
       height: auto;
       margin-bottom: 20px;
    }
    #butn{
        margin-top: 20px;
    }
    .menuBtn{
        margin: 0px;
        background-color: transparent;
    }

    
}